.header{
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.link{
    color: #fff;
    background-color: black;
    border-radius: 5px;
    border: 1px solid #000;
    text-decoration: none;
    padding: 10px;
}

.active{
    color: #000;
    background-color: #fff;
    transition: all 0.3s;
}

.ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}